<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css"> <!-- Optional external stylesheet -->
</head>
<body>
    <div class="post-details-container">
        <h2 >@<%= post.username %></h2>
        <p ><%= post.content %></p>
    </div>
</body>
</html>
